* {
	background: transparent;
	border: none;
	box-sizing: border-box;
	font: initial;
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	/*
	Prevents margin collapsing, see:
	- https://www.w3.org/TR/CSS21/box.html#collapsing-margins
	- https://stackoverflow.com/a/12989967/9281985
	- https://stackoverflow.com/a/9519933/9281985
	*/
	overflow: auto;
}
body {
	background: #111;
}
#main {
	height: calc(100% - 2*30px);
	margin: 30px 10%;
}
#search {
	background: #ddd;
	font-size: 1rem;
	height: calc(1rem + 2*5px);
	line-height: 1rem;
	padding: 5px;
	width: 100%;
}
#search:focus {
	background: #ccc;
	outline: none;
}
.bucket {
	background: #222;
	_border-top: 1px solid #333; /* TODO */
	height: calc(100% - (1rem + 2*5px));
	padding: 10px;
	overflow-y: auto;
}
.bucket > li {
	border-bottom: 1px solid #333; /* TODO */
	display: flex;
	justify-content: space-between;
	padding: 5px;
}
.bucket > li > a {
	color: #eee;
	text-decoration: none;
}
.tag {
	background: none;
	border: none;
	color: #ddd;
	font-size: small;
}
.tag::before {
	content: "#";
}
